{% extends "layout.html.twig" %}
{% block title %} Welcome to Top Stories {% endblock %}
{% block content %}
<div class="content news">
    <div class="title mb-4">
        <h1 class="page-title mb-1">Top Stories</h1>
        <p class="lead font-weight-lighter">Your guide to what matters most today</p>
    </div>
</div>
{% endblock %}
